absl-py==0.6.1
astor==0.7.1
atomicwrites==1.2.1
attrs==18.2.0
certifi==2018.11.29
chardet==3.0.4
Click==7.0
colorama==0.4.0
cvxopt==1.2.0
cycler==0.10.0
Flask==1.0.2
gast==0.2.0
glob2==0.6
googledrivedownloader==0.3
grpcio==1.17.1
h5py==2.8.0
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10
jsonpickle==1.0
Keras==2.2.4
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
kiwisolver==1.0.1
Mako==1.0.7
Markdown==3.0.1
MarkupSafe==1.1.0
matplotlib==3.0.2
more-itertools==4.3.0
numpy==1.15.4
olefile==0.46
opencv-python==3.4.4.19
parse==1.9.0
parse-type==0.4.2
Pillow==5.3.0
pluggy==0.8.0
protobuf==3.6.1
py==1.7.0
pyparsing==2.3.0
pytest==4.0.1
pytest-bdd==3.0.0
python-dateutil==2.7.5
PyYAML==3.13
requests==2.21.0
scipy==1.1.0
six==1.12.0
tensorboard==1.12.0
tensorflow==2.5.0
termcolor==1.1.0
urllib3==1.24.1
Werkzeug==0.14.1
wincertstore==0.2
